html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    color: #404040;
    text-align: center;
}

/* typography */

h1 {
    font-size: 1.75em;
    font-weight: 300;
    color: #b8b8b8;
    margin: 0;
    padding-top: 2em;
}

.bio {
    color: #404040;
    font-size: 1rem;
    padding: 1em 2em 1em 2em;
}
/* intro */

.intro {
    background-color: #646363;
    background-image: url(https://picsum.photos/200/300?grayscale);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}

/* main -content section */

.intro,
.main-content {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* navigation */

.nav {
    background-color: #404040;
    letter-spacing: .75px;
    width: 100%;
    margin: 0 auto;
    padding: .5em;
    font-size: 1rem;
    color: #fff;
}

.nav-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: #fff;
}

.nav-link,
.nav-focus {
    color: rgb(248, 248, 43);
}

.current-page {
    border-bottom: 1px solid #fff;
}

.intro h1 {
    padding: .5em;
}

footer {
    text-align: center;
    background-color: #404040;
    padding: .5em .75em;
    margin: 0;
    max-width: 100%;
    opacity: .5;
}

/* Form */

form {
    margin: .5em auto;
    width: 100%;
    height: 50%;
}

.form-list {
    list-style: none;
    padding: 0;
    margin: 0 auto; 
}

::-webkit-input-placeholder { 
    color: rgb(153, 153, 153);
    opacity: .75;
  }
  ::-moz-placeholder { 
    color: rgb(153, 153, 153);
    opacity: .75;
  }
  :-ms-input-placeholder { 
    color: rgb(153, 153, 153);
    opacity: .75;
  }
  :-moz-placeholder { 
    color: rgb(153, 153, 153);
    opacity: .75;
  }

form li + li {
  margin-top: .5em;
}

input,
textarea {
    font: 1em sans-serif;
    width: 75%;
    margin-bottom: .5em;
}

input {
    padding: .5em;
    text-align: center;
    border: 1px solid #404040;
    transform: scale(1);
    transition: transform 250ms;
}



input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border-color: #404040;
    transform: scale(1.05);
}

textarea {
    vertical-align: top;
    height: 6em;
}

.btn {
    display: inline-block;
    margin: .75em .5em .5em .5em;
    padding: 1em 1.5em;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
}

textarea,
input,
.btn {
    border-radius: 5px;
}

.contact-btn{
    background-color: #404040;
    color: rgb(248, 248, 43);
    transform: scale(1);
    transition: transform 250ms;
}

.contact-btn:hover,
.contact-btn:focus {
    transform: scale(1.1);
}

/* screen reader */

.sr-only {
    position: absolute;
    left: -10px;
    height: 1px;
    width: 300px;
    overflow: hidden;
}

.contact-info {
    font-size: 1em;
    width: 75%;
    text-align: center;
    margin: 0 auto;
}


/* media queries */

@media (min-width: 500px) {
    body {
        font-size: 1.125em;
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 1250px;
    }

    .intro,
    .content {
        max-width: 50%;
        height: 100vh;
    }

    .content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        min-height: 100vh;
    }

    .nav {
        justify-content: space-around;
        position: absolute;
        top: 0px;
        margin-bottom: 5rem;
        order: -1;
    }

    h1 {
        font-size: 1.75rem;
        margin: 3em .5em 0 .5em;
    }

    footer {
        position: absolute;
        bottom: 0px;
        width:100%;
    }

}
